<template>
  <div class="benefits-banner">
    <div class="row">
      <div class="benefits-banner__item">
        <div class="benefits-banner__element">
          <img src="~assets/img/icons/1.svg" alt class="benefits-banner__image" />
          <p class="benefits-banner__signature">
            Российский
            <br />разработчик
            <br />антивирусов Dr.Web
          </p>
        </div>
      </div>
      <div class="benefits-banner__item">
        <div class="benefits-banner__element">
          <img src="~assets/img/icons/2.svg" alt class="benefits-banner__image" />
          <p class="benefits-banner__signature">
            Опыт разработки
            <br />с 1992 года
          </p>
        </div>
      </div>
      <div class="benefits-banner__item">
        <div class="benefits-banner__element">
          <img src="~assets/img/icons/3.svg" alt class="benefits-banner__image" />
          <p class="benefits-banner__signature">
            Dr.Web пользуются
            <br />в 200+ странах мира
          </p>
        </div>
      </div>
      <div class="benefits-banner__item">
        <div class="benefits-banner__element">
          <img src="~assets/img/icons/4.svg" alt class="benefits-banner__image" />
          <p class="benefits-banner__signature">
            Более 71% дохода
            <br />компании —
            <br />продажи бизнес-
            <br />клиентам
          </p>
        </div>
      </div>
      <div class="benefits-banner__item">
        <div class="benefits-banner__element">
          <img src="~assets/img/icons/5.svg" alt class="benefits-banner__image" />
          <p class="benefits-banner__signature">
            Круглосуточная
            <br />поддержка
            <br />на русском языке
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

