<template>
  <div>
    <div class="status-order">
      <div class="container">
        <div class="status-order__wrapper">
          <p class="status-order__item active">
            <span>Ваш заказ</span>
          </p>
          <p class="status-order__item">
            <span>Оплата</span>
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <div v-if="cart && cart.product" class="container">
        <Purchase :cart="cart" />
        <div class="form-holder">
          <h3 class="form-title__component">Пользователь</h3>
          <!-- <div class="forms-group">
            <div class="forms-element">
              <label class="label-radio">
                <input
                  type="radio"
                  name="selectProfile"
                  data-main-class="forms-tab"
                  data-current-id="forms-tab-individual"
                />
                <span class="label-radio__signature">Физическое лицо</span>
              </label>
            </div>
            <div class="forms-element">
              <label class="label-radio">
                <input
                  type="radio"
                  name="selectProfile"
                  data-main-class="forms-tab"
                  data-current-id="forms-tab-entity"
                />
                <span class="label-radio__signature">Юридическое лицо</span>
              </label>
            </div>
          </div>-->
          <form action class="form forms-tab active" id="forms-tab-individual">
            <label class="forms-group">
              <span class="forms-element">
                <span class="forms-signature">
                  Имя
                  <sup>*</sup>
                </span>
              </span>
              <span class="forms-element">
                <span class="label-input">
                  <input v-model="user.name" type="text" required />
                  <span class="label-input__error_text">заполните поле</span>
                </span>
              </span>
            </label>
            <label class="forms-group">
              <span class="forms-element">
                <span class="forms-signature">
                  Фамилия
                  <sup>*</sup>
                </span>
              </span>
              <span class="forms-element">
                <span class="label-input">
                  <input v-model="user.last_name" type="text" required />
                  <span class="label-input__error_text">заполните поле</span>
                </span>
              </span>
            </label>
            <label class="forms-group">
              <span class="forms-element">
                <span class="forms-signature">
                  E-mail
                  <sup>*</sup>
                </span>
              </span>
              <span class="forms-element">
                <span class="label-input">
                  <input
                    v-model="user.email"
                    type="text"
                    name="email"
                    data-auxiliary="email"
                    required
                  />
                </span>
              </span>
            </label>
            <label class="forms-group">
              <span class="forms-element">
                <span class="forms-signature">(Моб.) телефон</span>
              </span>
              <span class="forms-element">
                <span class="label-input">      
                  <input type="text" v-mask="'+998 (##) ###-##-##'" v-model="user.phone" placeholder="+998 (">
                  <span class="label-input__signature">+xxx (xx) xxx-xx-xx</span>
                </span>
              </span>
            </label>
            <!-- <h3 class="form-title__component">Способ оплаты</h3>
            <label class="label-radio">
              <input type="radio" value="visa/master" name="selectPayment" checked />
              <span class="label-radio__signature">Payme</span>
              <span class="logo_payments inline payme"></span>
            </label>
            <label class="label-radio">
              <input type="radio" value="qiwi" name="selectPayment" />
              <span class="label-radio__signature">Click</span>
              <span class="logo_payments inline click"></span>
            </label>-->
            <!--<label class="label-radio">-->
            <!--    <input type="radio" value="paper_money" name="selectPayment">-->
            <!--    <span class="label-radio__signature">Квитанция для оплаты (для физ.лиц)</span>-->
            <!--</label>-->
            <div class="form-bottom">
              <button
                :disabled="$store.state.blockButton"
                class="btn"
                type="button"
                @click="orderCheckout(user)"
              >
                Сделать заказ
                <i class="drweb_avtech-right-arrow"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import { mapState } from "vuex";


import { orderCheckout } from "~/_api/checkout";
export default {
  data: function () {
    return {
      user: {
        name: "",
        last_name: "",
        email: "",
        phone: "+998 (",
      },
    };
  },
  computed: {
    ...mapState(["cart"]),
  },
  methods: {
    orderCheckout: orderCheckout,
  },
  created() {
    if (this.cart && this.cart.product && this.cart.product.user) {
      this.user.name = (this.cart.product.user.name) ? this.cart.product.user.name : '';
      this.user.email = (this.cart.product.user.email) ? this.cart.product.user.email : '';
    }
  },
  // mounted(){
  //        this.$vToastify.error("Товар успешно добавлен", "Избранное");
  // }
};
</script>