<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-about_company">
            <a href="#" class="copyright">
              <img src="~assets/img/logo.jpg" alt />
              © «Доктор Веб»
              <br />2003 — 2022
            </a>
            <p
              class="footer-about_company__innerText"
            >«Доктор Веб» — российский производитель антивирусных средств защиты информации под маркой Dr.Web. Продукты Dr.Web разрабатываются с 1992 года.</p>
          
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="footer-links">
            <ul>
              <li>
                <a href="https://company.drweb.uz/">О КОМПАНИИ</a>
              </li>
            
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <h3 class="footer-component_title">МЫ В СОЦСЕТЯХ</h3>
          <div class="socials">
            <div class="socials-group">
              <ul>
                <li>
                  <a href="https://vk.com/drwebuser">
                    <img src="~assets/img/icons/vk.svg" alt />
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/Doctor_Web">
                    <img src="~assets/img/icons/tweeter.svg" alt />
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/drwebru/">
                    <img src="~assets/img/icons/facebook.svg" alt />
                  </a>
                </li>
              
              </ul>
            </div>
            <div class="socials-group">
              <ul>
             
                <li>
                  <a href="https://www.youtube.com/channel/UCVh2hiit9OcwV_CLkRRVXVQ">
                    <img src="~assets/img/icons/youtube.svg" alt />
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/drwebru/">
                    <img src="~assets/img/icons/instagram.svg" alt />
                  </a>
                </li>
             
              </ul>
            </div>
          </div>
        
        </div>
        <div class="col-lg-3 col-md-6">
          <h3 class="footer-component_title">ДРУГИЕ РЕСУРСЫ DR.WEB</h3>
          <div class="footer-links">
            <ul>
            
              <li>
                <a href="www.drweb.uz">www.drweb.uz</a>
              </li>
              <li>
                <a href="estore.drweb.uz">estore.drweb.uz</a>
              </li>
              <li>
                <a href="curenet.drweb.uz">curenet.drweb.uz</a>
              </li>
              <li>
                <a href="www.av-desk.com">www.av-desk.com</a>
              </li>
        
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

