<template>
  <header class="header">
    <div class="container">
      <div class="header-desktop">
        <div class="header-desktop__top">
          <div class="row">
            <div class="col-auto">
              <div class="header-desktop__left">
                <div class="row">
                  <div class="col-auto">
                    <a href="https://drweb.uz" class="header-desktop__logo">
                      <img src="~assets/img/logo.svg" alt />
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="header-desktop__right">
                <div class="row">
                  <div class="col-auto">
                    <a
                      href="https://www.drweb.uz/user/advantages/?from=widget"
                      class="header-desktop--right__btn drweb_avtech-lib"
                    ></a>
                  </div>

                  <div class="col-auto">
                    <a
                      href="https://www.drweb.uz/search/?lng=ru&q="
                      class="header-desktop--right__btn drweb_avtech-search"
                    ></a>
                  </div>
                  <div class="col-auto">
                    <a
                      href="https://support.drweb.uz/support_wizard/"
                      class="header-desktop--right__btn drweb_avtech-question"
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

