<template>
  <div>
    <div class="status-order passed">
      <div class="container">
        <div class="status-order__wrapper">
          <p class="status-order__item passed">
            <span>Ваш заказ</span>
          </p>
          <p class="status-order__item active">
            <span>Оплата</span>
          </p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <h3 class="form-title__component">Ваш заказ успешно оформлен</h3>

        <div class="info-block">
          <dl>
            <dt>Номер заказа</dt>
            <dd>{{ order.id }}</dd>
          </dl>
          <dl>
            <dt>Итоговая стоимость заказа</dt>
            <dd>{{ order.price.discountsum | price }} UZS</dd>
          </dl>

          <dl>
            <dt>Статус заказа</dt>
            <dd>{{ order.state.status }}</dd>
          </dl>
          <dl>
            <dt>Доставка</dt>
            <dd>
              на e-mail
              <br />
              <small>
                <i>
                  Лицензионные ключи отправляются на Ваш адрес электронной почты
                  через 10-15 минут после оплаты. В редких случаях доставка
                  может задержаться до 1-2 рабочих дней.
                </i>
              </small>
            </dd>
          </dl>
        </div>

        <div class="hide-block">
          <div>
            <div class="table-holder">
              <table>
                <tr>
                  <th>Продукт Dr.Web</th>
                  <th>Доставка</th>
                  <th>Итого</th>
                </tr>
                <tr>
                  <td>{{ order.title }}</td>
                  <td>на e-mail</td>
                  <td>
                    {{ order.price.discountsum | price }} UZS
                    <small>с НДС (18%)</small>
                  </td>
                </tr>
              </table>
            </div>
            <div class="total-price">
              <div class="row">
                <div class="col-auto">
                  <div class="price-holder">
                    <h3 class="price-now">
                      СУММА {{ order.price.discountsum | price }} UZS
                    </h3>
                    <p class="price-signature">с учетом НДС</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="form-title__component">ОПЛАТА</h3>
        <div class="typography">
          <!-- <p>Оплата кредитными картами производится через сервис АО «Казкоммерцбанка». Платежная система гарантирует Безопасность платежей. Специалистами АО «Казкоммерцбанка»разработан целый ряд мер по снижению риска, такие как обязательный ввод CVC2/CVV2, защищенный канал с длиной ключа 128 бит, использование сертификатов известного международного сертификационного центра Thawte Server CA.</p> -->
          <p>Для произведения оплаты заказа нажмите кнопку «Оплатить».</p>
        </div>

        <div
          v-if="order.state.id === 1 && order.payment"
          class="check-out-bottom"
        >
          <a v-if="order.payment.payme" class="btn" :href="order.payment.payme">
            Оплатить PAYME
          </a>
          <a v-if="order.payment.click" class="btn" :href="order.payment.click">
            Оплатить CLICK
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: {
      type: Object,
    },
  },
};
</script>
