<template>
  <div>
    <div class="table-holder">
      <table>
        <tr>
          <th>Продукт Dr.Web</th>
          <th>Доставка</th>
          <th>Итого</th>
        </tr>
        <tr>
          <td>{{cart.product.title.ru}}</td>
          <td>на e-mail</td>
          <td>{{cart.product.price.discountsum | price}} UZS</td>
        </tr>
      </table>
    </div>
    <div class="total-price">
      <div class="row">
        <div class="col-auto">
          <div class="price-holder">
            <h3 class="price-now">СУММА {{cart.product.price.discountsum | price}} UZS</h3>
            <p class="price-signature">с учетом НДС</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cart: Object
  },
};
</script>

