<template>
  <div class="container-height">
    <div v-if="loading">
      <Order v-if="order && order.id" :order="order" />
      <Null v-else title="Заказ не найден" />
    </div>
  </div>
</template>
<script>
import order from "~/_api/order";
export default {
  async asyncData({ params, $axios }) {
    let orderData = await order($axios, params.hash);
    return {
      order: orderData,
      loading: true,
    };
  },

  head() {
    return {
      title: "Интернет-магазин Dr.Web | Мой заказ",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "Интернет-магазин Dr.Web",
        },
      ],
    };
  },
};
</script>