<template>
  <div class="container-height">
    <div v-if="loading">
      <Checkout v-if="$store.state.cart" />
      <Null v-else title="Корзина пуста" />
    </div>
  </div>
</template>
<script>
import complete from "~/_api/complete";
import { xml2json, cartSession } from "~/functions/format";
export default {
  async asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    app,
    redirect,
    error,
    $cookies,
    $axios,
  }) {
    let hash = null;
    if (query && query.hash) {
      hash = query.hash;
    }
    const xml = await complete($axios, hash);
    if (xml && xml !== undefined && xml !== null) {
      let cart = await xml2json(xml);
      if (cart && cart.product) {
        cart.product.session = store.state.cartSession;
        cart.product.cart_hash = hash;
        $cookies.set("cart", cart, {
          maxAge: 86400,
        });
        store.dispatch("setCart", cart);
      } else {
        store.dispatch("setCart", app.$cookies.get("cart"));
      }
    } else if (app.$cookies.get("cart")) {
      store.dispatch("setCart", app.$cookies.get("cart"));
    }
    return {
      loading: true,
    };
  },
  mounted() {
    let query = Object.assign({}, this.$route.query);
    delete query.hash;
    this.$router.replace({ query });
  },

  head() {
    return {
      title: "Интернет-магазин Dr.Web | Корзина",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "description",
          name: "description",
          content: "Интернет-магазин Dr.Web",
        },
      ],
    };
  },
};
</script>